<launch>
    <node pkg="radar" type="make_sar_image.py" name="make_sar_image"></node>
    <node pkg="radar" type="2_analyzer.py" name="analyzer"></node>
    <node pkg="radar" type="0_get_data.py" name="get_data" args="-d /dev/ttyACM0"></node>
    <node pkg="radar" type="fake_rail.py" name="fake_rail"></node>
</launch>
